<!-- <div class="container mx-auto h-screen flex justify-center items-center">
    <page [template]="template">
        <pre class="whitespace-pre-line">
            Let's say you have an app like this one.

            We want to set up any data we might like to track with a signal. A signal is a value which is "reactive",
            meaning it can notify interested consumers when it changes.
    
            (() => T)
    
            Signal are zero-argument functions. When executed, they return the current value of the signal.
    
            In this particular app, we might want to track the users, listed here at the top.
    
            <p class="border rounded bg-gray-600 p-2 whitespace-normal">
                users = signal(159845);
            </p>
        </pre>
    </page>
</div> -->
<router-outlet />